modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 20472
externalPort = 3003

[[ports]]
localPort = 22474
externalPort = 3000

[[ports]]
localPort = 25380
externalPort = 3002

[userenv]

[userenv.shared]
MONDAY_API_TOKEN = "eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY3MzYyODg1MywiYWFpIjoxMSwidWlkIjoxMDU2MDY1MDcsImlhZCI6IjIwMjYtMDYtMjJUMDg6MzA6MDYuMTc0WiIsInBlciI6Im1lOndyaXRlIiwiYWN0aWQiOjM1NTU2NTAyLCJyZ24iOiJ1c2UxIn0.RmmObbUicQeE7wRoFkEjP2XbbYF1itVBxowWn5F5WJc"
STRIPE_WEBHOOK_SECRET = "whsec_I63yeVDtyIooFqtOLpl497A55zFF6Q8G"

[userenv.development]
MONDAY_BOARD_ID = "18417329698"
STRIPE_PRICE_ESSENTIALS = "price_1Tl0WKJJdy0crHI8giQjX2R7"
STRIPE_PRICE_ACCELERATOR = "price_1Tl0VeJJdy0crHI8n4KxTjt5"
STRIPE_PRICE_EMPIRE = "price_1Tl0VDJJdy0crHI8pJhAM8Md"
STRIPE_SECRET_KEY = "sk_test_51RcEhlJJdy0crHI8Q2kq88XlzWFkYUJEKNLNxbdtrw8GPvNCcshrLRCZAtkLL6nUPxqv9keK5YEpzENhB4qyiKBi00wRyJhiQv"

[userenv.production]
STRIPE_PRICE_ESSENTIALS = "price_1Tl0WKJJdy0crHI8giQjX2R7"
STRIPE_PRICE_ACCELERATOR = "price_1Tl0VeJJdy0crHI8n4KxTjt5"
STRIPE_PRICE_EMPIRE = "price_1Tl0VDJJdy0crHI8pJhAM8Md"
STRIPE_SECRET_KEY = "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"
